/*
Aqui como o nome já diz, teremos nossos componentes já mais específicos. 
De acordo com o RSCSS, aqui que vamos jogar todos aqueles componentes/elementos criados. 
Enquanto nos objetos nós tentamos abstrair o máximo possível, para ter muitos objetos reutilizáveis e genéricos,
aqui nós vamos ser específicos ao criar os componentes, 
mas respeitando as regras do RSCSS de especificidade e também não colocando positions ou outras
propriedades que engessem muito o componente a ponto dele não ser reutilizável.

Normalmente, aqui ficarão listas específicas como de produtos, 
cards específicos como aqueles incluindo imagens, etc.
 */

.navbar {
    padding-bottom: 76px;
    >.fixed-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $primaryColor;
        padding: 10px;
        >.brand {
            display: inline-block;
            vertical-align: middle;
            width: 87px;
            height: 56px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../images/buscape-logo.svg");
        }
        >.menu {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 95px);
        }
    }
}

.menu {
    >.icon {
        font-size: 35px;
        float: right;
        position: relative;
        background-color: transparent;
        padding: 0px 10px 0px 0px;
        >.badge {
            color: #FFFFFF;
            background-color: #FF0000;
            border-radius: 50%;
            font-size: 12px;
            line-height: 20px;
            height: 20px;
            width: 20px;
            text-align: center;
            position: absolute;
            top: calc(50% + 2px);
            left: 0px;
            transform: translate(-50%, 0px);
        }
    }
}

.product-list {
    background-color: #f3f3f3;
    min-height: 480px;
    padding: 20px 5px;
    >.product {
        padding: 10px;
        margin: 10px;
        height: 220px;
        background-color: #FFFFFF;
    }
}

.change-view {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    >.action {
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 2px;
        background-color: transparent;
        vertical-align: middle;
        border: 1px yellow solid;
        >.another-image {
            width: 100%;
            height: 100%;
            position: relative;
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                top: -18px;
                left: -13px;
                height: 27px;
                width: 27px;
                background-size: 100%;
                background-color: #FFFFFF;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("../images/buscape-logo.svg");
            }
        }
    }
}

.main-view {
    width: 200px;
    height: 198px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin: auto 30px;
    >.main-image {
        width: 200px;
        height: 198px;
        height: auto;
        position: relative;
        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: -15px;
            left: 0px;
            height: 198px;
            width: 200px;
            background-size: 100%;
            background-color: #FFFFFF;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../images/buscape-logo.svg");
        }
    }
}

.info {
    display: inline-block;
    vertical-align: middle;
    >.name {
        >.add-favorites {
            color: $primaryColor;
            background-color: transparent;
            padding: 0px;
        }
        &:after {}
    }
    >.better-price-flag {}
    >.price {
        >.installments {}
        >.currency-symbol {}
        >.installment-value {}
        >.value {
            strong {}
        }
    }
    >.add-button {}
}