<header>
    <nav class="navbar">
        <div class="fixed-content">
            <div class="brand"></div>
            <div class="menu">
                <button class="icon" id="menu-btn">
                    <span class="fa fa-bars"></span>
                    <div class="badge">2</div>
                </button>
            </div>
            <div class="content -closed"></div>
        </div>
    </nav>
</header>

<main>
    <section class="product-list">
        <div class="product">
            <div class="change-view">
                <button class="action"><img class="another-image" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb_600x600-PU98460_1.jpg" alt=""></button>
                <button class="action"><img class="another-image" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb/__200x400-PU98460_2_c.jpg?v=2347575274" alt=""></button>
                <button class="action"><img class="another-image" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb/__200x400-PU98460_3_c.jpg?v=318433138" alt=""></button>
                <button class="action"><img class="another-image" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb/__200x400-PU98460_4_c.jpg?v=33273730" alt=""></button>
            </div>
            <figure class="main-view"> <img class="main-image" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb_600x600-PU98460_1.jpg" alt=""/></figure>
            <div class="info">
                <div class="name">Smart TV Samsung Série 4 UN32J4300AG 32 polegadas LED Plana<button class="add-favorites"><span class="fa fa-heart-o"></span></button></div>
                <div class="better-price-flag">MELHOR PREÇO</div>
                <div class="price">
                    <span class="installments">10X</span><span class="currency-symbol">R$</span><span class="installment-value">134.11</span>
                    <div class="value">ou <strong>R$ 1139.90</strong> à vista.</div>
                </div>
                <button class="add-cart">Adcionar ao carrinho <span class="fa fa-chevron-right"></span></button>
            </div>
        </div>
    </section>
</main>